@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h2>Search</h2>
            <div class="input-group text-center">
                <input type="text" class="form-control input-lg" name="SearchTerm" id="SearchTerm" placeholder="Find cool stuff on the store">
                <span class="input-group-btn">
                    <button type='submit' class="btn btn-lg btn-primary"    formaction='@Url.Action("Index","Search")'>Go.</button>
                </span>
            </div>
        </div>
    </div>

    <div>Click on this name for AD test support       @{ Html.RenderAction("Details", "User", new { userid =@"wnet\mhingley" }); }</div>
    
    <div class="row">
        <div class="col-md-12">
            <h2>Latest Updates</h2>
            <div class="carousel slide" id="carousel-999583">
                <ol class="carousel-indicators">
                    <li class="" data-slide-to="0" data-target="#carousel-999583"></li>
                    <li data-slide-to="1" data-target="#carousel-999583" class=""></li>
                    <li data-slide-to="2" data-target="#carousel-999583" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Carousel Bootstrap Third" src="http://www.fillmurray.com/1600/500">
                        <div class="carousel-caption">
                            <h4>Third Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-999583" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-999583" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Interesting in adding your application to the store?  Have a look at the API documentation.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>Development teams are currently working on ways of making libraries and internal development resources available via the store.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Internal  Hosting</h2>
            <p>Deploy and host your application directly from your build system through the Storefront API.  Files can be hosted by the store also.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>


}



